<div class="container-scroller" >
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-3">ADMIN LOGIN</h3>

                        <form action="/admin/admin-login" method="post" >

                        {{#if loginErr}}
                        <p class="error text-center text-danger">Invalid Username or Password</p>
                        {{/if}}
                        
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control p_input" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control p_input" required>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>