<!-- Header Area Start -->
<header class="top">
    <div class="fixedArea">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                <div class="content-wrapper one">
                    <!-- Main Menu Start -->
                    <!-- Navbar-->
                    <header class="header">
                        <nav class="navbar navbar-default myNavBar">
                            <div class="container">

                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-3 col-sm-3">
                                                    <a style="padding-top:0px;"
                                                        class="navbar-brand navBrandText text-uppercase font-weight-bold"
                                                        href="/home"><img src="/users/img/mypics/cuccLogo.jpg.png"
                                                            width="46px" height="47px" alt="LOGO"
                                                            style=" -webkit-filter: drop-shadow(2px 2px 2px  rgb(0, 0, 0));
                                                                filter: drop-shadow(2px 2px 2px 2px rgb(0, 0, 0));" /></a>

                                                </div>
                                                <div class="logo_name col-md-9 col-sm-9 col-xs-9">
                                                    <a href="/home">
                                                        <h6 class="titlecu">CENTURY UNIVERSAL </h6>

                                                        <span><img class="smalltitle"
                                                                src="/users/img/mypics/cucc_name.png" </span>

                                                    </a>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>

                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right navBar" <li class="nav-item">
                                        <div class="dropdown">
                                            {{#if user}}
                                            <div class="usersname text-center">
                                               {{user.lname}}
                                            </div>
                                            <div class="dropdown-content">
                                                <a href="/playerform"><i class='fa fa-user-plus' style="font-size: 20px; color: #ba9c5c; "></i> Add Player</a>
                                                <a href="/logout"><i class='fa fa-user-times' style="font-size: 20px; color: #ba9c5c; "></i> &nbsp;Logout </a>
                                            </div>

                                            {{else}}
                                            <a href="/login">
                                            <div class="nav-link font-weight-bold js-scroll-trigger">
                                                <p width="20px" height="20px"
                                                    style="margin-top: 15px; margin-left: 20px; margin-bottom: 15px; color: white; cursor: pointer;">
                                                    <i class="fa fa-user" style="font-size: 18px; color:#ba9c5c; margin-right: 8px;"></i> LOGIN</p></a>
                                                <div class="dropdown-content">
                                                    <a href="/login">Login</a>

                                                </div>

                                            </div>
                                            {{/if}}

                                        </div>

                                    </ul>

                                    <ul class="nav navbar-nav navbar-right navBar">
                                        <li class="nav-item"><a href="/"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Home
                                                <span class="sr-only">(current)</span></a></li>

                                        <li class="nav-item"><a href="/shopping"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger ">Shopping</a>
                                        </li>

                                        <li class="nav-item"><a href="/players"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">players</a>
                                        </li>

                                        <li class="nav-item"><a href="/umpires"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">umpires</a>
                                        </li>

                                        <li class="nav-item"><a href="/officials"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">cucc</a>
                                        </li>

                                        <li class="nav-item "><a href="/news"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">news</a>
                                        </li>

                                        <li class="nav-item"><a href="/home/#section6"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">contact
                                                us</a></li>

                                        <li class="nav-item"><a href="/home/#section7"
                                                class="nav-link text-uppercase font-weight-bold js-scroll-trigger">about</a>
                                        </li>

                                        <div class="logout-btn">
                                            <li class="nav-item"><a href="/logout"
                                                    class="nav-link  font-weight-bold js-scroll-trigger"
                                                    style="margin:0px 0px 0px 12px ;  font-size: 14px; margin-bottom: 20px;" ><i class="fa fas fa-power-off" style="font-size:18px;color:red"></i> Logout</a>
                                            </li>
                                        </div>

                                    </ul>

                                </div>
                            </div>
                        </nav>
                    </header>
                    <!-- Main Menu End -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->