<!-- Footer Start -->
<footer class="footer-area">
  <div class="container main-footer">

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-widget pr-60">
          <div class="footer-logo pb-25">

            <div class="col-md-4 text-center">
              <a class="" href="#"><img
                  class="footerlogo img-responsive"
                  src="/users/img/mypics/cuccLogo.jpg.png"
                  alt="logo"
                /></a>
            </div>

            <div class="footer-social">
              <h6 class="footicname">Century Universal® CC</h6>
              <div class="header-icons">

                <a class="footic" href="https://wa.me/+918848025659 "><img
                    class="footicimg"
                    src="/users/img/mypics/ic1.png"
                  /></a>

                <a
                  class="footic"
                  href="https://www.instagram.com/century_universal_cucc/"
                ><img class="footicimg" src="/users/img/mypics/ic2.png" /></a>

                <a
                  class="footic"
                  href="https://www.facebook.com/sachincricketacademytuvvur/"
                ><img class="footicimg" src="/users/img/mypics/ic3.png" /></a>

                <a class="footic" href="/error"><img
                    class="footicimg"
                    src="/users/img/mypics/ic4.png"
                  /></a>

              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-widget">
          <h3>information</h3>
          <p class="lock"></p>
          <ul>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/home/#section7">
                    <p>About Our Shop</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="#">
                    <p>Top Sellers</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="home/#section5">
                    <p>Our Blog</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/shop">
                    <p>New Products</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="">
                    <p>Secure Shopping</p>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-widget">
          <h3>information</h3>
          <p class="lock"></p>
          <ul>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="home/#section7">
                    <p>About CUCC</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/players">
                    <p>Players</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/umpires">
                    <p>Umpires</p>
                  </a>
                </div>
              </div>
            </li>

            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/officials">
                    <p>Officials</p>
                  </a>
                </div>
              </div>
            </li>

            <li class="footer-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <div class="footer-icon"></div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                  <a href="/logout">
                    <p>Logout</p>
                  </a>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="single-widget">
          <h3>get in touch</h3>
          <p class="lock"></p>
          <p>CENTURY UNIVERSAL CRICKET CLUB<br />TUVVUR P.O</p>
          <p>+91 88 480 25 659<br />+91 94 950 90 208</p>

          <ul>
            <li class="address-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <i class="fa fa-address-card"></i>
                </div>
                <div
                  class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding"
                >
                  <span>centuryuniversalcca@gmail.com</span>
                </div>
              </div>
            </li>

            <li class="address-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <i class="fa fa-phone"></i>
                </div>
                <div
                  class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding"
                >
                  <span>+91 88 480 25 659</span>
                </div>
              </div>
            </li>

            <li class="address-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <i class="fa fa-whatsapp"></i>
                </div>
                <div
                  class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding"
                >
                  <span>+91 88 480 25 659</span>
                </div>
              </div>
            </li>

            <li class="address-section">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <i class="fa fa-envelope"></i>
                </div>
                <div
                  class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding"
                >
                  <span>centuryuniversalcca@gmail.com</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="copyright">Copyright © 2022. All Right Reserved By Century
            Universal® Cricket Club Tuvvur.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->