<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="mainhead">
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="#">
								<img class="logoimg" src="assets/img/cuccLogo.jpg.png" width="60px" height="60px"
									style="float: left;" alt="logo">
								<h5 class="logoname">CENTURY <span style="color: #ba9c5c;"> CART</span><span>
										<p class="fas fa-shopping-cart"
											style="color: rgb(255, 255, 255); font-size: 21px; "></p>
									</span> </h5>

							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="list-item"><a href="/">CUCC HOME</a>
								<li class="list-item"><a href="/shopping">HOME</a>
								</li>

								<li><a href="#">ITEMS</a>
									<ul class="sub-menu">
										<li><a href="/shop">Bats</a></li>
										<li><a href="/shop">Balls</a></li>
										<li><a href="/shop">Gloves</a></li>
										<li><a href="/shop">Helmets</a></li>
										<li><a href="/shop">Shoes</a></li>
										<li><a href="/shop">Thighs</a></li>
										<li><a href="/shop">Outfits</a></li>
										<li><a href="/shop">Accessories</a></li>
									</ul>
								</li>

								<li><a href="/contact">CONTACT</a></li>

								<li><a href="/shop">GEAR SHOP</a>
									<ul class="sub-menu">
										<li><a href="/shop">Shop</a></li>
										<li><a href="/checkout">Check Out</a></li>

										<li><a href="/cart">Cart</a></li>
									</ul>
								</li>
								

								<li>
									<div class="header-icons" style="color: white; font-family: 'Lucida Handwriting'; ">
										
										
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i><span class="badge badge-danger " style=" font-size: 10px ; border-radius: 50% ;" id="cart-count">{{cartCount}}</span></a>

										{{#if user}} {{user.lname}}
										{{else}}
										<a class="shopping-cart" href="/login"><i class="fas fa-user"></i></a>
										{{/if}}

									</div>
								</li>

							</ul>	




						</nav>
						<a class="mobile-show search-bar-icon" href="/cart"><i class="fas fa-shopping-cart"></i><span class="badge badge-danger " style=" font-size: 10px ; border-radius: 50% ;" id="cart-count">{{cartCount}}</span></a>
						<div class="mobile-menu"></div>
						
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



