<div class="col-md-4 ">
    <a class="" href=""><img class="footerlogoshop img-responsive" src="/users/img/mypics/cuccLogo.jpg.png" width="30px"
            alt="logo" /></a>
    <h6>Century Universal® CC</h6>
</div>

<div class="header-icons">
    <a class="footic" href="https://wa.me/+918848025659 "><img src="/users/img/mypics/ic1.png"
            style="width:30px ; height: 30px;"></a>

    <a class="footic" href="https://www.instagram.com/century_universal_cucc/"><img src="/users/img/mypics/ic2.png"
            style="width:30px ; height: 30px;"></a>

    <a class="footic" href="https://www.facebook.com/sachincricketacademytuvvur/"><img src="/users/img/mypics/ic3.png"
            style="width:30px ; height: 30px;"></a>

    <a class="footic" href="#"><img src="/users/img/mypics/ic4.png" style="width:30px ; height: 30px;"></a>

</div>



<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p> Since 2006 , One of the best teams playing under the Malappuram District Cricket Assosiation
                        ,
                        having more than 70 members including a lot of experienced individuals. With the best
                        reviews of our Customers , the better Gears are selling and it is going good...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>CENTURY UNIVERSAL CRICKET CLUB</li>
                        <li>TUVVUR P.O</li>
                        <li>+91 88 480 25 659<br>+91 94 950 90 208</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="/">Home</a></li>

                        <li><a href="/shop">Shop</a></li>

                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="#">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <p class="copyrightfoot ">Copyrights &copy; 2022 - <a href="#">Century Universal®</a>, All Rights
                    Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->