<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>HERE WE GO</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">

	<form class="bg0 p-t-75 p-b-85" id="checkout-form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<div id="accordion">
								<div class="card">

									<div class="card-header bg-dark "
										style=" height: 60px; padding-top: 20px; border-radius: 15px 15px 0px 0px;">
										<h5 class="mb-0">
											<div class="text-white" aria-controls="collapseThree">
												Enter Delivery Details
											</div>
										</h5>
									</div>


									<div id="collapseOne" class="collapse show text-small bg-light "
										aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											<h4>Delivery Address</h4>
											<input class="form-control" type="text" name="name"
												placeholder="Enter Your Name" required /> <br>
											<input class="form-control m-t-15" type="text"
												style="height: 80px; padding-bottom: 60px; " name="address"
												placeholder="Enter your complete Address here " required /><br>

											<input class="form-control m-t-15" type="text" name="district" required
												placeholder="District" /><br>
											<input class="form-control m-t-15" type="text" name="state"
												placeholder="State" required /><br>
											<input class="form-control m-t-15" type="number" name="pincode" required
												placeholder="Pin Code" /><br>

											<input class="form-control m-t-15" type="email" name="email"
												placeholder="Email (not required)" /><br>

											<input class="form-control m-t-15 " style="width: fit-content;" type="tel"
												name="mobile" placeholder="Phone Number" required /><br>

											<input type="text" name="userId" id="" value="{{user._id}}" hidden />

										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<div class="text-uppercase"
							style=" padding-left: 15px; padding-top: 15px; padding-bottom: 15px; padding-top: 20px; margin-bottom: 20px; border-style:groove">
							<h4 class="mtext-109 cl2 p-b-30">
								Cart Total
							</h4>
							<div class="flex-w flex-t p-t-27 p-b-33">
								<div class="size-208">
									<span class="mtext-101 cl2">
										Total: &nbsp; <span id="ftotal" class="mtext-110 cl2 text-success"
											style="font-size: 25px; font-weight:900;  ">
											₹{{ftotal}}.00/- <span>
												<p style="font-size: 12px; ">(Inclusive of all taxes)</p>
											</span>
										</span>
									</span>
								</div>

							</div>
						</div>

						<div class="text-uppercase"
							style=" padding-left: 15px; padding-top: 15px; padding-bottom: 15px ; border-style: groove;">
							<h4 class="mtext-109 cl2 p-b-30">
								Payment Option
							</h4>

							<div class="form-check">
								<input class="form-check-input" type="radio" name="paymentMethod" id="payment"
									value="ONLINE" />
								<label class="form-check-label" for="paymentMethod">
									Online Payment
								</label>
							</div>

							<div class="form-check">
								<input class="form-check-input" type="radio" name="paymentMethod" id="payment"
									value="COD" checked />
								<label class="form-check-label" for="paymentMethod">
									Cash On Delivery
								</label>
							</div>

							<button href="/buy" type="submit" id="submitId" class="btn btn-success"
								style=" border-radius: 10px; border-style: none; height: 40px;  width: fit-content; margin-top: 20px;">
								PROCEED TO CHECKOUT
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>

</div>
	<div class="text-center">

		<a class="btn btn-warning" href="/">Home</a>

	</div>

<script>
	$("#checkout-form").submit((e) => {
		e.preventDefault()
		$.ajax({
			url: '/buy',
			method: 'post',
			data: $('#checkout-form').serialize(),
			success: (response) => {
				if (response.codSuccess) {
					location.href = '/success'
				} else {
					razorpayPayment(response)
				}
			}
		})
	})

	function razorpayPayment(order) {
		let options = {
			"key": "rzp_test_FWc2ABiabPmd8e", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Century Universal",
			"description": "Test Transaction",
			"image": "/users/img/mypics/cuccLogo.jpg.png",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				verifyPayment(response, order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#2b3745"
			}
		};

		let rzp1 = new Razorpay(options);
		rzp1.open();
	}

	function verifyPayment(payment, order) {
		$.ajax({
			url: '/verify-payment',
			data: {
				payment,
				order
			},
			method: 'post',
			success: (response) => {
				if (response.status) {
					location.href = '/success'
				} else {
					alert(swal("Sorry !", "Payment is failed!", "warning"))
				}

			},
		})

	}

</script>