<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit" href="/shop">Search <i class="fas fa-search"></i></button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search area -->

<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">Grab & play</p>
						<h1>Here it is What you Need</h1>
						<div class="hero-btns">
							<a href="/shop" class="boxed-btn">Cricket Gears</a>
							<a href="/contact" class="bordered-btn">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Free Shipping</h3>
						<p>When order over ₹5000/-</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>24/7 Support</h3>
						<p>Get support all day</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Refund</h3>
						<p>Get refund within 3 days!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->

<!-- product section -->

<section class="shop-banner">
	<div class="container">
		<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
		<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
		<a href="/shop" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>



<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Our</span> Products</h3>

				</div>
			</div>
		</div>

		<div class="row">



			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/batdemo.jpg" alt=""></a>
					</div>
					<h3>Bats</h3>
					<a href="/shop" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>


			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/balldemo2.webp" alt=""></a>
					</div>
					<h3>Balls</h3>
					<a href="/shop" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>


			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/glovedemo2.webp" alt=""></a>
					</div>
					<h3>Gloves</h3>
					<a href="/shop" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>


			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/guarsdemo2.jpg" alt=""></a>
					</div>
					<h3>Pads</h3>
					<a href="/shopl" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>


			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/shoedemo2.jpg" alt=""></a>
					</div>
					<h3>Shoes</h3>
					<a href="/shop" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>


			<div class=" col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="/shop"><img src="assets/img/helmetdemo2.webp" alt=""></a>
					</div>
					<h3>Helmets</h3>
					<a href="/shop" class="cart-btn"
						style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185);"></i>GO
						&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
				</div>
			</div>

		</div>

		<div class="moreitems">
			<a href="/shop" class="cart-btn"
				style="background-color: rgb(0, 94, 255); box-shadow: 3px 3px 5px rgb(186, 185, 185); "></i>More Items
				&nbsp;<i class="fa 	fa-arrow-right " aria-hidden="true"></i></a>
		</div>


	</div>
</div>








<div class="abt-section mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
					<video class="logovdo " src="/assets/img/logovideo.mp4 " width="100%" height="100%" loop="true"
						autoplay="autoplay" controls muted></video>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Since Year 2003</p>
					<h2>We are <span class="orange-text">Century Universal®</span></h2>
					<p>With over 70 players
                            <span style="color: rgb(124, 112, 43);"> Century Universal Cricket Club </span> was founded
                            by
                            Muhammad Saifullah MP and
                            Muhammad Suhail on July 1st 2006.
                            Since 2008, CUCC has started participating in competitions organized by the Malappuram
                            District
                            Cricket Association (MDCA).And CUCC is currently one of the Malappuram District Cricket
                            Association's top cricket teams. For the 2017–18 season, CUCC were the Champions of D
                            Division
                            competition. They have proudly marked their sign in both tennis ball cricket and leather
                            ball
                            cricket. CUCC has produced many players for the Malappuram district team and a few for the
                            state
                            for school games and association tournaments. With the addition of the Sachin Cricket
                            Academy
                            league team in 2020, CUCC currently has two teams with more than 80 players, many of whom
                            are
                            beginners.</p>
					<a href="/home" class="boxed-btn mt-4">know more</a>
				</div>
			</div>
		</div>
	</div>
</div>

<button type="submit" onClick="refreshPage()" id="btntop"><a class="gotop" href="#top" > <i class="fa fa fa-home"
                aria-hidden="true"></i></a></button>