<!-- breadcrumb-section -->
<div class="breadcrumb-section ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Order Placed Successfully</h1>
                   <a href="/order-list"> <button  class="btn btn-primary" style="border-radius:15px ; margin-top: 20px;" >View Orders</button></a>


				   <a href="/"> <button  class="btn btn-warning" style="border-radius:15px  ; margin-top: 20px; margin-left: 50px;" >Go Home</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

