<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<!-- Section0 Area Start -->
<section id="section0" class="slider-area">
    <div class="main-slider owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        <div class="single-slide item"><video class="bgvdo" src="/users/img/mypics/bgvdeo.MP4 " width="100%"
                autoplay="autoplay" loop="true" controls muted> </video>
            <div class="slider-content-area">
                <div class="row">
                    <div class="slide-content-wrapper text-center">
                        <div class="slide-content">
                            <img class="classic" src="/users/img/mypics/cuccLogo.jpg.png">
                            <p class="front_name text-small text-uppercase"
                                style="font-family:Georgia, 'Times New Roman', Times, serif; color: white;">
                                Century universal</p>
                            <h2>Nurturing Talents...</h2>
                            <h2></h2>
                            <p style="color:white ;"></p>

                            <img class="classic" src="/users/img/new/icon.png">

                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="single-slide item"><img class="bg3" src="/users/img/mypics/bg6.jpg">

            <!-- <img src="img/slider/placehold.png"> -->

            <!-- Start Slider Content -->

            <div class="slider-content-area">
                <div class="row">
                    <div class="slide-content-wrapper text-center">
                        <div class="slide-content">
                            <img class="classic" src="/users/img/mypics/cuccLogo.jpg.png">
                            <p class="front_name text-small text-uppercase"
                                style="font-family:Georgia, 'Times New Roman', Times, serif; color: white;">
                                Century universal</p>
                            <h2>Nurturing Talents...</h2>
                            <h2></h2>
                            <p style="color:white ;"></p>

                            <img class="classic" src="/users/img/new/icon.png">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Single Slide -->
        <!-- Start Slingle Slide -->

        <div class="single-slide item"><img class="bg3" src="/users/img/mypics/bg3.jpeg">

            <!-- <img src="img/slider/bakery.jpg"> -->
            <!-- Start Slider Content -->

            <div class="slider-content-area">
                <div class="row">
                    <div class="slide-content-wrapper text-center">
                        <div class="slide-content">
                            <img class="classic" src="/users/img/mypics/cuccLogo.jpg.png">
                            <p class="front_name text-small text-uppercase"
                                style="font-family:Georgia, 'Times New Roman', Times, serif; color: white;">
                                Century universal </p>
                            <h2>Nurturing Talents...</h2>



                            <img class="classic" src="/users/img/new/icon.png">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
    </div>
</section>

<!-- Section0 Area End -->
<!-- Section1 Start -->
<section id="section1" class="topOff">
    <div class="container">
        <div class="row">

            <a href="#section7">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-default colorfullParent">

                        <div class="panel-body colorfullPanel text-center">
                            <h3>Are You New Here?</h3>
                            <h2><span>know</span> About Us
                                <img class="classic" src="/users/img/new/icon.png">

                            </h2>
                            <p>Since 2006 , One of the best teams of the Malappuram District Cricket Assosiation ,
                                having more than 60 members including . . .
                            </p>
                        </div>

                    </div>
                </div>
            </a>

            <a href="/shop">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-body colorfullPanel text-center">
                            <h3>Upp to %15 off</h3>
                            <h2><span>Shop</span> with us
                                <img class="classic" src="/users/img/new/icon.png">

                            </h2>
                            <p>We are providing more exciting offers for you , serving the better quality gears with
                                incredible prices.

                            </p>
                        </div>

                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-default">

                        <div class="panel-body colorfullPanel text-center">
                            <h3>umpiring coaching</h3>
                            <h2><span>Learn</span> from Here
                                <img class="classic" src="/users/img/new/icon.png">

                            </h2>
                            <p>With the supervision of Professional Umpires of CUCC ,consistently conducting Law based
                                Classes. </p>
                        </div>

                    </div>
                </div>
            </a>

        </div>
    </div>
</section>
<!-- Section1 End -->
<!-- Section2 Start -->
<section id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="maintext text-center">
                    <span>Serve You Since 2006</span>
                    <h2 style="color:#2b3745 ; text-shadow: 2px 2px 2px #b7b7b7;">Welcome To Century Universal</h2>

                </div>
            </div>
        </div>
        <div class="row shapes">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="/users/img/mypics/coaching.png " width="119px" height="145px">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span>Learn Cricket here</span>
                            <p>The best quality Cricket coaching with the well experienced cricket experts .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="/users/img/shape/shape2.png">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span> Budjet friendly products</span>
                            <p>Whatever you need to play with, here we are providing those with by your side .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 minHeightProp">
                        <img class="imgback" src="/users/img/mypics/diamond.jpg " width="130px" height="155px">
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span>Serve you since 2006</span>
                            <p>Made a lot of Gentlemen and more than 60 individuals have been participating right
                                now.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section2 End -->
<!-- Banner Start -->

<div class="container">
    <div class="banner" style="background-image: url('/users/img/mypics/asicsShoe.jpg');">
        <div class="content text-center">
            <span style="color:white ;">TAKE A LOOK (LIMITED OFFERS)</span>
            <a href="/shop">
                <h2 style="color:white ; text-shadow: 1px 1px 1px black;">Start Bowl Here
                </h2>
            </a>

            <a href="/shop">
                <h3>SHOP NOW</h3> <!-- go to Shoe section -->
                <img class="classic" src="/users/img/new/icon.png">
            </a>

        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Section3 Start -->
<section id="section3">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h3>Premium Quality</h3>
                    <h2>Cricket Gears for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12 noPadding">
                    <div id="news-slider" class="news-slider owl-theme owl-carousel">



                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>Selected Cricket Bats</p>
                                </div>
                                <img src="/users/img/mypics/bats.webp" alt="batimg">
                            </div>
                            <h3 class="post-title"><a>English Willow Cricket Bats</a></h3>
                            <a href="/shop">
                                <p class="post-description">
                                    Shop now
                                </p>
                            </a>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>premium leather balls</p>
                                </div>
                                <img src="/users/img/mypics/ball.jpg" alt="BBall">

                            </div>
                            <h3 class="post-title"><a>Cricket Leather balls</a></h3>
                            <a href="/shop">
                                <p class="post-description">
                                    Shop now
                                </p>
                            </a>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>varieties of shoes for you</p>
                                </div>
                                <img src="/users/img/mypics/shoe.png" alt="shoe">

                            </div>
                            <h3 class="post-title"><a>Cricket Shoes</a></h3>
                            <a href="/shop">
                                <p class="post-description">
                                    Shop now
                                </p>
                            </a>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>Batting Gloves for you</p>
                                </div>
                                <img src="/users/img/mypics/gloves.webp" alt="Gloves">

                            </div>
                            <h3 class="post-title"><a>Gloves</a></h3>
                            <a href="/shop">
                                <p class="post-description">
                                    Shop now
                                </p>
                            </a>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <div class="post-abs">
                                    <p>Helmets for you</p>
                                </div>
                                <img src="/users/img/mypics/helmets.jpg" alt="Helmets">

                            </div>
                            <h3 class="post-title"><a>Helmets</a></h3>
                            <a href="/shop">
                                <p class="post-description">
                                    Shop now
                                </p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section3 End -->
<!-- Testimonial Area Start -->
<section id="section4" class="parallax-window" data-parallax="scroll" data-image-src="/img/slider/slide.jpg">
    <h3>What We Say</h3>
    <h2 style="color:white ; text-shadow: 1px 1px 1px black;">Customer Testimonial</h2>
    <div class="testimonial-area owl-theme owl-carousel">

        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">


            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Thanks.....
                            I surprised with this bat... Never seen a bat like this... 1045 gram weight and 9 grains....
                            I am very very happy to find this bat...</p>
                        <h4>genuine Customer</h4>
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Nice grains , orginal English willow cricket bat and DSC, I will start knocking after week I
                            add my comments</p>
                        <h4>genuine Customer</h4>
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
            <div class="single-testimonial">
                <div class="testimonial-info">
                    <div class="testimonial-content">
                        <p>Wonderful , Delivery is good. thankyou</p>
                        <h4>genuine Customer</h4>
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<section id="section5" class="blog-area">
    <div class="row" style="margin-top: 20px; margin-bottom: 100px;">
        <div class="col-xs-12">
            <div class="blog-section-title text-center">
                <h3>Century Universal Blog</h3>
                <h2 style="color: rgb(64, 71, 64); font-size: 55px ;">Our Latest News</h2>

                <div class="container-contact100-form-btn">
                    <a href="/news">
                        <div style="text-align:center;">
                            <button class="contact100-form-btn"> <i class="fa fa fa-long-arrow-right m-l-7"
                                    aria-hidden="true"></i></button>
                    </a>
                </div>
            </div>
            </a>


        </div>
    </div>

    </div>
</section>
<!-- Blog Area End -->
<!-- Contact Start -->
<section id="section6" class="contact">
    <div class="contact100-form-title container">
        <h3>Keep In Touch</h3>
        <h2 class="msg">Send A Message</h2>
        <form class="contact100-form validate-form">


            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Your Name</span>
                <input class="input100" type="text" name="name" placeholder="Enter your name" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Number is required">
                <span class="label-input100">Your Number</span>
                <input class="input100" type="text" name="number" placeholder="Enter your number" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 rs1-wrap-input100 validate-input"
                data-validate="Valid email is required: ex@abc.xyz">
                <span class="label-input100">Email</span>
                <input class="input100" type="text" name="email" placeholder="Enter your email addess" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Message is required">
                <span class="label-input100">Message</span>
                <textarea class="input100" name="message" placeholder="Your message here..." required></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">

                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content"
                            style="background-color: black; color: white; height: 80px; max-width: 550px; height: fit-content;">
                            <span class="close">&times;</span>
                            <p><b style="font-weight:bolder;  ">
                                    😃 Wow !</b>&nbsp; Thank you for getting touch with us . if you need any help ,
                                Please
                                Contact Us... </p>

                        </div>

                    </div>
                    <i class="fa fa fa-long-arrow-right m-l-7" id="myBtn" aria-hidden="true"></i> </a>

                </button>
            </div>

    </div>
    </form>
    </div>
</section>
<!-- Contact End -->
<!-- Address Section Start -->


</section>
<!-- Blog Area End -->
<!-- Contact Start -->
<section id="section7" class="contact">
    <div class="container-fluid">
        <div class="contact100-form-title container">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                        <h2 class="abt">About
                            Century</h2>
                        <p class="abouttext ">

                            With over 70 players
                            <span style="color: rgb(124, 112, 43);"> Century Universal Cricket Club </span> was founded
                            by
                            Muhammad Saifullah MP and
                            Muhammad Suhail on July 1st 2006.
                            Since 2008, CUCC has started participating in competitions organized by the <span
                                style="color: rgb(124, 112, 43);"> Malappuram
                                District
                                Cricket Association (MDCA). </span>And CUCC is currently one of the Malappuram District
                            Cricket
                            Association's top cricket teams. For the 2017–18 season, CUCC were the Champions of D
                            Division
                            competition. They have proudly marked their sign in both tennis ball cricket and leather
                            ball
                            cricket. CUCC has produced many players for the Malappuram district team and a few for the
                            state
                            for school games and association tournaments. With the addition of the Sachin Cricket
                            Academy
                            league team in 2020, CUCC currently has two teams with more than 80 players, many of whom
                            are
                            beginners.

                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container ">
            <div class="image123 ">
                <div class="imgContainer mx-auto">
                    <img src="/users/img/mypics/avt1.jpeg" style=" border-radius: 50%; margin-left: 10px;" width="70"
                        alt="founder">
                    <p class="imgtxt text-center">Md Saifullah.MP</p>
                    <p class="imgtxt1 text-center ">Founder</p>

                </div>

                <div class="midimg mx-auto" style="margin-left:42% ; margin-right: 42%;">
                    <div class="imgContainer" style="">
                        <img src="/users/img/mypics/avt3.jpg" style=" border-radius: 50%;  " width="73" alt="founder">
                        <p class="imgtxt text-center">Md Suhail</p>
                        <p class="imgtxt1 text-center">Founder</p>

                    </div>
                </div>


                <div class="imgContainer mx-auto" style="float: right;">
                    <img src="/users/img/mypics/avt2.jpg" style=" border-radius: 50%;" width="70"
                        alt="assosiation_logo">
                    <p class="imgtxt text-center ">MDCA</p>
                    <p class="imgtxt1 text-center">Association</p>

                </div>
            </div>

        </div>

        <hr style="margin-bottom:50px ;">
    </div>
    <button type="submit" onClick="refreshPage()" id="btntop"><a class="gotop" href="#top"> <i class="fa fa fa-home"
                aria-hidden="true"></i></a></button>

    <a class="fixedButton" href="/shopping" >
        <div class="fixedButton"><i class="fa fa-shopping-basket"></i></div>
    </a>

<a class="fixedButton1" href="/players" >
        <div class="fixedButton1"><i class="fa fa-group"></i></div>
    </a>

<a class="fixedButton2" href="/news" >
        <div class="fixedButton2"><i class="fa fa-commenting"></i></div>
    </a>


    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>

</section>


<script>

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>