<div class="img js-fullheight"
  style="background-image: linear-gradient(to bottom right,#2b3745,#ba9c5c); min-height: 100%;">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
          <img class="loginlogo" src="/users/img/mypics/cuccLogo.jpg.png" style="width: 90px; height: 90px;" />
          <span ><img class="smalltitle" src="/users/img/mypics/cucc_name.png"</span>

          {{#if loginErr}}
          <p class="error text-center" style="color:rgb(211, 193, 26) ;margin-bottom: -5px; font-size: 12px;margin-top: 5px;">{{loginErr}}</p>
          {{/if}}


        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">

            <form action="/login" method="post" class="signin-form">
              <div class="form-group">
                <input type="number" name="number" class="form-control" placeholder="Mobile Number" required />
              </div>
              <div class="form-group">
                <input id="password-field" type="password" name="password" class="form-control" placeholder="Password"
                  required />
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn submit px-3"
                  style="background-color: #2b3745;">Login</button>
              </div>

            </form>
            <p class="w-100 text-center" style="font-size: 15px;">
              Don't have an Account ? 
              <span>
                <a href="/signup" style="color: rgb(117, 20, 20); font-weight: 600;">
                  SIGN IN</a></span>
            </p>

            <p class="w-100 text-center text-uppercase">
              <span>
                <a href="/logout" style="color: rgb(0, 0, 0); font-size: 14px;">
                  Continue as a Guest</a></span>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>