<div class="cardhead">
    <h6 class="cardheading" style="text-align: center; margin-top: 80px; color: rgb(0, 0, 0);">OFFICIALS OF CENTURY</h6>
    <img class="classic" src="/users/img/new/icon.png">
</div>

<div class="pannelbgoff">
    <div class="container" style="margin-top:20px; ">



        <hr>


        <div class="row setting">



            <div class="cards mx-auto" style="max-width: 9.3rem; max-height: 150px; margin-top: 25px;">
                <div class="card testimonial-card mx-auto">
                    <div class="card-up aqua-gradient"></div>
                    <div class="center-cropped avatar mx-auto white">
                        <a href="#"><img class="center-cropped" src="/users/img/mypics/avt1.jpeg"
                                class="rounded-circle img-fluid" alt="player"> </a>
                    </div>
                    <div class="card-body text-center">

                        <p class="card-title font-weight-bold text-uppercase small">
                            Muhammed Saifullah</p>

                        <h4 class="card-title font-weight-bold text-uppercase small" style="color: white;">
                            founder/manager</h4>
                    </div>
                </div>
            </div>


            <div class="cards mx-auto" style="max-width: 9.3rem; max-height: 150px; margin-top: 25px;" >
                <div class="card testimonial-card mx-auto " >
                    <div class="card-up aqua-gradient"></div>
                    <div class="center-cropped avatar mx-auto white">
                        <a href="#"><img class="center-cropped" src="/users/img/mypics/avt3.jpg"
                                class="rounded-circle img-fluid" alt="player"> </a>
                    </div>
                    <div class="card-body text-center">

                        <p class="card-title font-weight-bold text-uppercase small">
                            Muhammed Suhail</p>

                        <h4 class="card-title font-weight-bold text-uppercase small" style="color: white;">
                            founder</h4>
                    </div>
                </div>
            </div>


        </div>


        <div class="row setting">

{{#each officials}}

            <div class="cards mx-auto" style="max-width: 9.3rem; max-height: 150px; margin-top: 25px;" >
                <div class="card testimonial-card mx-auto" >
                    <div class="card-up aqua-gradient"></div>
                    <div class="center-cropped avatar mx-auto white">
                        <a href="#"><img class="center-cropped"  src="{{this.images.[0].path}}"
                                class="rounded-circle img-fluid" alt="player"> </a>
                    </div>
                    <div class="card-body text-center">

                        <p class="card-title font-weight-bold text-uppercase small">
                            {{this.officialName}} </p>

                        <h4 class="card-title font-weight-bold text-uppercase small" style="color: white;">
                            {{this.position}}</h4>
                    </div>
                </div>
            </div>
{{/each}}

        </div>



        <hr>
    </div>
</div>