<head>
	<title>CUCC®</title>
	<link rel="icon" type="image/png" href="/users/img/mypics/cuccLogo.jpg.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/users/img/mypics/cuccLogo.jpg.png" sizes="16x16" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/users/css/login.css">

	<link href="//db.onlinewebfonts.com/c/6d32b8e06f40fb7698cfb714b9e7975d?family=BillabongW00-Regular" rel="stylesheet" type="text/css"/>
                
</head>



{{{body}}}




<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>



</html>