<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CUCC®</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Cemre Tellioğlu Tunçay">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" href="/users/img/mypics/cuccLogo.jpg.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/users/img/mypics/cuccLogo.jpg.png" sizes="16x16" />
    <link rel="stylesheet" href="/users/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/users/css/font-awesome.min.css">
    <link rel="stylesheet" href="/users/css/reset.css">
    <link rel="stylesheet" href="/users/css/style.css">
    <link rel="stylesheet" href="/users/css/animate.css">
    <link rel="stylesheet" href="/users/css/responsive.css">
    <link rel="stylesheet" href="/users/css/card.css">


     <script src="/users/js/vendor/modernizr-2.8.3.min.js"></script>


</head>

<body>
    {{#if home}}
    {{>home-header}}
    {{/if}}
    {{{body}}}
    {{#if home}}
    {{>home-footer}}
    {{/if}}

    <script src="/users/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/users/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="/users/js/bootstrap.min.js"></script>
    <script src="/users/js/parallax.min.js"></script>
    <script src="/users/js/ajax-mail.js"></script>
    <script src="/users/js/owl.carousel.min.js"></script>
    <script src="/users/js/jquery.nicescroll.min.js"></script>
    <script src="/users/js/main.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyIMWhs-crjT0yhctbRjfJFq75FlEhSzE&callback=initMap">
        </script>
        

</body>

</html>